@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/open_dyslexic/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/open_dyslexic/OpenDyslexic-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/open_dyslexic/OpenDyslexic-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/open_dyslexic/OpenDyslexic-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}


h1{
  font-size: 72px;
  font-weight: 500;
  text-transform: capitalize;
}

h2{
  font-size: 48px;
  font-weight: 500;
  text-transform: capitalize;
}

h3{
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 400;
}

p,ul,li{
  color: #6A6666;
}

@media (max-width: 500px){
  h1{
    font-size: 48px;
  }
}