.containerAbo{
  max-width: 1360px;
  margin: 50px auto;
  padding: 20px;
}

.containerCard{
  display: flex;
  margin: 80px auto;
  gap: 50px;
  justify-content: center;

}

.card{
  max-width: 400px;
  width: 100%;
  padding: 50px;
  min-height: 550px;
  background-color: #FFF9F4;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
}

.buttonChoisir{
  width: 300px;
  height: 70px;
  background-color: #67378C;
  color: white;
  font-size: 24px;
  text-transform: capitalize;
}

@media (max-width: 1024px){
  .containerCard{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px){
  .card{
    max-width: 280px;
    padding: 20px;
    min-height: 450px;
  }

  .buttonChoisir{
    width: 240px;
    height: 55px;
  }
}