.containerApercu{
  background-color: #FAF4FF;
  width: 100%;
}

.containerCard{
  max-width: 1360px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 50px auto 80px auto;
  padding: 20px;
}

.card{
  max-width: 350px;
  min-height: 350px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  border-radius: 30px;
  padding: 20px;
  max-height: 280px;
  transition: .3s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
}

.card:hover{
  transform: translateY(-10px);
}

.imageCard{
  background-color: #67378C;
  width: 90px;
  padding: 15px;
  border-radius: 20px;
}

.h3Card{
  padding: 0 20px;
  text-transform: none;
}

.pCard{
  font-size: 15px;
  color: #999999;
  padding: 0 20px;
}

@media (max-width: 1024px){
  .containerCard{
    flex-direction: column;
  }
}