.containerGaming{
  max-width: 1360px;
  margin: 80px auto;
  padding: 20px;
  display: flex;
}

.containerLeft{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.h2Gaming{
  color : #67378C;
  max-width: 600px;
}

@media (max-width: 1024px){
  .containerGaming{
    flex-direction: column;
  }
}